<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="con">
        <ion-label>{{user.usuario}}</ion-label>
        <div class="notificaciones">
          <ion-button fill="translucent" id="trigger-notificaciones">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-popover trigger="trigger-notificaciones" show-backdrop="false">
            <ng-template>
              <ion-list>
                <ion-item>
                  Notificacion
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
       <div class="perfil">
        <ion-avatar>
          <ion-img [src] ="user.foto" id="user-header-pic"></ion-img>
          <ion-popover trigger="user-header-pic">
            <ng-template>
              <ion-list>
                <ion-item>
                  <ion-icon name="exit"></ion-icon>
                  <ion-label color="danger" (click)="close_button()">Cerrar Sesión</ion-label>
              </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </ion-avatar>
       </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col>
            <div class="-img">
                <img [src]="user.foto" alt="" class="fotoperfil">
            <div class="historia"></div>
            </div>
        </ion-col>
        <ion-col size = >
            <p><strong>{{numpubli}}</strong></p>
            <p>Publicaciones</p>
        </ion-col>
        <ion-col>
            <p><strong>{{user.seguidores}}</strong></p>
            <p>Seguidores</p>
        </ion-col>
        <ion-col>
            <p><strong>{{user.seguidos}}</strong></p>
            <p>Seguidos</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          {{user.nombre}}
        </ion-col>
    </ion-row>
    <ion-row>
        {{user.descripcion}}
    </ion-row>
    <ion-row>
        <ion-button (click)="comenzarEdicion()">
            Editar descripcion
        </ion-button>
    </ion-row>
    <ion-row *ngIf="edicion">
        <p>Nueva descripcion: {{cambios}}</p>
        <ion-input [(ngModel)]="cambios" class="borde-input"></ion-input>
        <ion-button (click)="guardar()">Guardar</ion-button>
        <ion-button (click)="comenzarEdicion()">Cancelar</ion-button>
    </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size-md ="8" offset-md="2">
      <app-publicaciones></app-publicaciones>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>