<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="container">
        <ion-label>{{user.usuario}}</ion-label>
        <div class="notificaciones">
          <ion-button fill="translucent" id="trigger-notificaciones">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-popover trigger="trigger-notificaciones" show-backdrop="false">
            <ng-template>
              <ion-list>
                <ion-item>
                  Notificacion
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
       <div class="perfil">
        <ion-avatar>
          <ion-img [src] ="user.foto" id="user-header-pic"></ion-img>
          <ion-popover trigger="user-header-pic">
            <ng-template>
              <ion-list>
                <ion-item>
                  <ion-label>
                    Cerrar Sesion
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </ion-avatar>
       </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let publi of publicaciones">
        <ion-col>
            <ion-card size ="1">
                <ion-card-header>
                    {{publi.usuario}}
                </ion-card-header>
                <ion-card-content>
                    <img src="{{publi.src}}" alt="">
                    <p class="caption">{{publi.caption}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
