ion-img::part(image) {
    height:100%;
}
.boton-grid {
    width: 100%;
    text-align: center;
}

.publis {
    min-height: 250px;
    min-width: 250px;
}

.publisgrandes {
    min-height: 500px;
    min-width: 500px;
}

.trim {
    max-height:400px !important;
    max-width: 400px !important;
    overflow: hidden !important;
}
.trimmayor {
    max-height:900px !important;
    max-width: 900px !important;
    overflow: hidden !important;
}