<ion-header *ngIf="!sesioniniciada">
  <ion-item>
    <ion-label>Instagram</ion-label>
    <ion-label  style="opacity: 50%;" slot="end">Iniciar sesión</ion-label>
  </ion-item>
</ion-header>

<ion-app>
  <ion-content *ngIf="!sesioniniciada">
    <ion-header>Instragram</ion-header>

    <div class="welcomebox">
      <h1 class="welcometext">Inicio de sesion</h1>
    </div>


    <div>
      <h2 align="center" class="thirdtext">Ingresa tu usuario y contraseña</h2>
    </div>

    <div class="form">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate >
          <ion-grid>
              <ion-row>
                  <ion-input placeholder="DiegoJS " [(ngModel)]="inputuser" name="usuario" required>@</ion-input>
              </ion-row>
              <ion-row>
                  <ion-input type="password" placeholder="1234 " [(ngModel)]="inputpass" name="contraseña" required></ion-input>
              </ion-row>
              <ion-row>
                  <ion-button type="submit">Iniciar sesion</ion-button>
              </ion-row>
          </ion-grid>
      </form> 
    </div>

   
  </ion-content>
</ion-app>

<div *ngIf="sesioniniciada">
  <app-tabs></app-tabs>
  <ion-router-outlet></ion-router-outlet>
</div>
